In [1]:
import time
import sys
sys.path.append('../../src/')

from density_map import get_density_map, get_density_image

import pandas as pd
import numpy as np
from shapely.geometry import Point, Polygon
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['figure.dpi'] = 400

In [2]:
df = pd.read_csv('../../data/data_refined.csv')

timestamps_unique = df['timestamp'].unique()

batch = df[df['timestamp'] == timestamps_unique[100]]
print(len(batch))
timestamp = batch['timestamp'].to_list()[0]
print(time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(timestamp)))

batch.head()

1113
2024-08-09 18:29:20

,timestamp,mac,x,y,error,rssi,floor_id,room_id
242387,1723224560,0704c97a4dfe6228a42441ca4e979c436e2666b3c39e4c...,77.946254,22.955671,10.0,-69.600006,931,NaN
242388,1723224560,b518cc6b3d809b94b2a3a27c5a5cce87619ebb7ffc5349...,0.500000,57.494307,10.0,-63.350000,1654,NaN
242389,1723224560,f56df72f5588c88039bd752a5942a2915777f9e3c3b559...,1.343370,59.537913,10.0,-53.900000,1653,NaN
242390,1723224560,a6203c584b75784b559fcf023f4a7c4f9cea50c85867a7...,78.954185,32.800400,10.0,-64.450000,907,55838.0
242391,1723224560,f6eb9c35f1fcb4f25717dd4021f910b000581632a66bd3...,35.611857,22.363642,10.0,-66.350000,1041,NaN

In [3]:
image_bytes = get_density_image(floor_id=1654, batch=batch)

with open('density_map.png', 'wb') as f:
    f.write(image_bytes)